{{ define "main" }}


<div>

  <p>I'm a teacher, a reader, a technological tinkerer, and a tea-fiend. I hold a Ph.D in Rhetoric and Composition and teach courses on writing and communicating in both professional and university contexts in Ball State University&#8217;s Professional Writing Major / Minor and Writing Program.</p>

  <p>In my professional writing courses, I teach students to:</p>

  <ul>
  <li>Create accessible, usable organizational documents.</li>
  <li>Apply principles of content strategy and user-centered research.</li>
  <li>Employ industry-standard tool, protocols, and practices&#8211;such as Figma, single-topic authoring, and web markup languages&#8211;and their role in the workplace.</li>
  </ul>

  <p>In my Writing Program courses, students learn and practice qualitative and quantitative research, considering how research can be composed for diverse audiences within and outside the academy.</p>

  <p>In my own research, I&#8217;ve explored how activist organizations use documentation and record-keeping practices to achieve social goals. This led to a peer-reviewed scholarly publication in <em>Rhetoric Review</em> titled &#8220;Disidentification and Documentation: LGBTQ Records as Emergent, Entangled Rhetoric.&#8221;</p>

  <p>I also have experience in both print-based and digital publishing and editorial work. During graduate school, I worked at the <em>Henry James Review</em> copyediting manuscripts, evaluating final proofs returned by our publisher, John Hopkins University Press, and corresponding with authors throughout the submission and publishing cycle.</p>

  <p>Today, I serve as the Disputatio section editor at <em>Kairos: A Journal of Rhetoric, Technology, and Pedagogy</em>, which publishes born-digital scholarly work. In this role, I employ my knowledge of web-design and markup languages to help authors realize their digital publications and copyedit texts throughout our publishing process.</p>

  <p>Other notable organizations and projects I&#8217;ve been involved with include:</p>

  <ul>
  <li>The Soup Kitchen of Muncie, where I serve as a board member on grants and public relations / fundraising committees. Much of my current work focuses on researching grants to help fund the organization&#8217;s 2023 operating budget. I also volunteer at the soup kitchen weekly.</li>
  <li>A recent collaborative collection of research-based white-paper reports on Non-Tenure Faculty working conditions. This research was solicited by the Ball State University Writing Program. My section, co-authored with Kat Greene, offered research-based recommendations on best practices related to faculty teaching loads and student caps.</li>
  <li><em>Making Future Matters</em>, a collaborative and born-digital academic book. As a co-editor, I designed the basic structures of the website housing the author&#8217;s self-designed webpages.</li>
  </ul>


</div>

{{ end }}
