// Write custom variables.

// $primary: blue;
// $secondary: lightgrey;

// Import Boostrap SCSS.
@import "node_modules/bootstrap/scss/bootstrap";


/*

.nav-item a {
  color: $primary;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

img {
  width: 100%;
}
.post-section {
  //box-shadow: $primary 0 5px 0 ;
  border: solid $secondary 1px;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2em;
}

.post-section .post-text-content {
  padding: 1.5rem;
}

.post-section-image {
  max-width: 400px;
}

figcaption {
  color: grey;
  text-align: center;
}

footer {
  background-color: $secondary;
  width: 100%;
}


.footer-info {
  padding: 4rem;
  gap: 1.5rem;
}

footer img {
  border-radius: 100px;
  width: 100px;
  height: 100%;
}

.bio {
  background-color: $secondary;
}

.bio img {
  height: 100%;
}

@include media-breakpoint-down(lg) {

  .bio {
    display: none;
    flex-direction: row;
  }

  .bio img {
    max-width: 200px;
  }
}
/*
