// Write custom variables.


// Import Boostrap SCSS.
@import "node_modules/bootstrap/scss/bootstrap";

// Custom CSS.
html {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Bungee', sans-serif;
  color: $primary;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: $primary;
}


.jumbotron {
  padding: 5em;
  margin-bottom: 2em;
  box-shadow: $primary 0 15px 0 ;
  border: solid $primary 1px;
  border-radius: 15px;
}

img {
  width: 100%;
}

.navbar-brand {
  font-family: 'Bungee', cursive;
  color: $primary;
}

.loading {
  font-family: 'Bungee', cursive;
  color: $primary;
  text-transform: uppercase;
  font-style: normal;
}


.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 1800ms infinite;
  animation: ellipsis steps(4,end) 1800ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 12em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.5em;
  }
}

.card p, .card-body a {
  font-size: 0.75rem;
}

.post-section {
  box-shadow: $primary 0 5px 0 ;
  border: solid $primary 1px;
  border-radius: 5px;
  padding: 1.5rem;
}

figcaption p {
  color: grey;
}
