// Write custom variables.

$primary: blue;
$secondary: lightgrey;

// Import Boostrap SCSS.

@import "node_modules/bootstrap/scss/bootstrap";

.nav-container {
  background-color: $secondary;
}

.nav-item a {
  color: $primary;
}

html {
  font-size: 22px;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

img {
  width: 100%;
}


.post-section {
  border-bottom: solid 1px;
  border-color: $secondary;

/*
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2em;
  background-color: $secondary;
  */

}

.post-section .post-text-content {
  padding: 1.5rem;
}

.post-section-image {
  height: 100%;
}

figcaption {
  color: grey;
  text-align: center;
}

footer {
  background-color: $secondary;
  width: 100%;
}

.footer a {
  color: black;
}


.footer-info {
  padding: 4rem;
  gap: 1.5rem;
}

footer img {
  border-radius: 100px;
  width: 100px;
  height: 100%;
}

.bio {
  background-color: $secondary;
}

.bio img {
  height: 100%;
}

@include media-breakpoint-down(sm) {

  .footer-info {
    flex-direction: column;
  }

  .bio img {
    max-width: 200px;
  }
}
