<!doctype html>
<html>

{{- partial "head.html" . -}}

<body class="p-4">

  {{- partial "nav.html" . -}}

  {{ if .Params.site_header }}

    {{- partial "header.html" . -}}

  {{ end }}


  <div class="mx-auto">

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    {{ if .Params.featured_grid }}
      {{- partial "featured-posts.html" . -}}
    {{ end }}
    {{ if .Params.comments }}
      {{- partial "disqus.html" . -}}
    {{ end }}

    {{- partial "footer.html" . -}}
  </div>

</body>
</html>
