<aside class="card col-lg-2 p-0 me-2">
  <img class="card-img" src="/images/bio-photo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ if isset .Params `author` }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</h5>
    <p class="card-text text-muted">{{ .Site.Params.author_bio }}</p>

  <div class="d-flex justify-content-between card-body card-social p-0">
    {{ if isset .Site.Params `email` }}<a href="mailto:{{ .Site.Params.email }}"><i class="fa fa-envelope fa-lg"></i></a>{{ end }}
    {{ if isset .Site.Params `github` }}<a href="https://github.com/{{ .Site.Params.github }}"><i class="fa fa-github fa-lg"></i></a>{{ end }}
    {{ if isset .Site.Params `twitter` }}<a href="{{ .Site.Params.twitter }}"><i class="fab fa-twitter fa-lg"></i></a>{{ end }}
    {{ if isset .Site.Params `mastodon` }}<a href="{{ .Site.Params.mastodon }}"><i class="fab fa-mastodon fa-lg"></i></a>{{ end }}

  </div>
  </div>
</aside>
